.preloader__area{
    position: fixed;z-index: 3000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #fff; 
}
.loader {
    width: 10em;
    height: 10em;
    font-size: 25px;
    box-sizing: border-box;
    border-top: 0.3em solid hotpink;
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
    @media #{$max_sm}{
        font-size: 20px; 
       }
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid #2878e1; 
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid #f5911e;
    transform: rotate(240deg);
}

.loader span {
    position: absolute;
    color: #000000;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
    animation: rotating 2s linear infinite;
    --direction: -1;

}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg * var(--direction)));
    }

    100% {
        transform: rotate(calc(360deg * var(--direction)));
    }
}
